<!DOCTYPE html>
<html>
<head>
  <title>TAuth</title>
  <%= stylesheet_link_tag    'tauth/application', :media => 'all' %>
  <%= javascript_include_tag 'tauth/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
